*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
  margin: 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  margin-top: 2rem;
}

.calculator-grid > button {
  font-size: 2rem;
  border: 1px solid #ffffff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.75);
  grid-column: 1 / -1;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0.75rem;
}

.output .previous-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

.output .current-operand {
  font-size: 2.5rem;
  color: #ffffff;
}
